<?xml version="1.0" encoding="utf-8"?>
<GameInfo>
    <Players>
        <!-- 将领袖注册到风云变幻扩展包中，指定你做好的 select 立绘 -->
        <!-- 退回最安全的做法：Portrait 绑定小圆圈，绝不让前台引擎崩溃！ -->
        <Row Domain="Players:Expansion2_Players" LeaderType="LEADER_HOH_VOID_HERRSCHER" CivilizationType="CIVILIZATION_HONKAI" LeaderName="LOC_LEADER_HOH_VOID_HERRSCHER_NAME" LeaderIcon="ICON_LEADER_HOH_VOID_HERRSCHER" CivilizationName="LOC_CIVILIZATION_HONKAI_NAME" CivilizationIcon="ICON_CIVILIZATION_HONKAI" LeaderAbilityName="LOC_TRAIT_LEADER_HOV_DUMMY_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_HOV_DUMMY_DESC" LeaderAbilityIcon="ICON_LEADER_HOH_VOID_HERRSCHER" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_HONKAI_DUMMY_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_HONKAI_DUMMY_DESC" CivilizationAbilityIcon="ICON_CIVILIZATION_HONKAI" Portrait="SELECTION_LEADER_HOH_VOID_HERRSCHER" PortraitBackground="LEADER_QIN_BACKGROUND"/>
        <Row Domain="Players:Expansion1_Players" LeaderType="LEADER_HOH_VOID_HERRSCHER" CivilizationType="CIVILIZATION_HONKAI" LeaderName="LOC_LEADER_HOH_VOID_HERRSCHER_NAME" LeaderIcon="ICON_LEADER_HOH_VOID_HERRSCHER" CivilizationName="LOC_CIVILIZATION_HONKAI_NAME" CivilizationIcon="ICON_CIVILIZATION_HONKAI" LeaderAbilityName="LOC_TRAIT_LEADER_HOV_DUMMY_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_HOV_DUMMY_DESC" LeaderAbilityIcon="ICON_LEADER_HOH_VOID_HERRSCHER" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_HONKAI_DUMMY_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_HONKAI_DUMMY_DESC" CivilizationAbilityIcon="ICON_CIVILIZATION_HONKAI" Portrait="SELECTION_LEADER_HOH_VOID_HERRSCHER" PortraitBackground="LEADER_QIN_BACKGROUND"/>
        <Row Domain="Players:StandardPlayers" LeaderType="LEADER_HOH_VOID_HERRSCHER" CivilizationType="CIVILIZATION_HONKAI" LeaderName="LOC_LEADER_HOH_VOID_HERRSCHER_NAME" LeaderIcon="ICON_LEADER_HOH_VOID_HERRSCHER" CivilizationName="LOC_CIVILIZATION_HONKAI_NAME" CivilizationIcon="ICON_CIVILIZATION_HONKAI" LeaderAbilityName="LOC_TRAIT_LEADER_HOV_DUMMY_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_HOV_DUMMY_DESC" LeaderAbilityIcon="ICON_LEADER_HOH_VOID_HERRSCHER" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_HONKAI_DUMMY_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_HONKAI_DUMMY_DESC" CivilizationAbilityIcon="ICON_CIVILIZATION_HONKAI" Portrait="SELECTION_LEADER_HOH_VOID_HERRSCHER" PortraitBackground="LEADER_QIN_BACKGROUND"/>
    </Players>

    <PlayerItems>
        <!-- 在选择界面的特性列表里显示领袖和文明 -->
        <Row Domain="Players:Expansion2_Players" LeaderType="LEADER_HOH_VOID_HERRSCHER" CivilizationType="CIVILIZATION_HONKAI" Type="LEADER_HOH_VOID_HERRSCHER" Icon="ICON_LEADER_HOH_VOID_HERRSCHER" Name="LOC_LEADER_HOH_VOID_HERRSCHER_NAME" Description="LOC_TRAIT_LEADER_HOV_DUMMY_DESC" SortIndex="10"/>
        <Row Domain="Players:Expansion2_Players" LeaderType="LEADER_HOH_VOID_HERRSCHER" CivilizationType="CIVILIZATION_HONKAI" Type="CIVILIZATION_HONKAI" Icon="ICON_CIVILIZATION_HONKAI" Name="LOC_CIVILIZATION_HONKAI_NAME" Description="LOC_TRAIT_CIVILIZATION_HONKAI_DUMMY_DESC" SortIndex="20"/>
        
        <Row Domain="Players:Expansion1_Players" LeaderType="LEADER_HOH_VOID_HERRSCHER" CivilizationType="CIVILIZATION_HONKAI" Type="LEADER_HOH_VOID_HERRSCHER" Icon="ICON_LEADER_HOH_VOID_HERRSCHER" Name="LOC_LEADER_HOH_VOID_HERRSCHER_NAME" Description="LOC_TRAIT_LEADER_HOV_DUMMY_DESC" SortIndex="10"/>
        <Row Domain="Players:Expansion1_Players" LeaderType="LEADER_HOH_VOID_HERRSCHER" CivilizationType="CIVILIZATION_HONKAI" Type="CIVILIZATION_HONKAI" Icon="ICON_CIVILIZATION_HONKAI" Name="LOC_CIVILIZATION_HONKAI_NAME" Description="LOC_TRAIT_CIVILIZATION_HONKAI_DUMMY_DESC" SortIndex="20"/>
        
        <Row Domain="Players:StandardPlayers" LeaderType="LEADER_HOH_VOID_HERRSCHER" CivilizationType="CIVILIZATION_HONKAI" Type="LEADER_HOH_VOID_HERRSCHER" Icon="ICON_LEADER_HOH_VOID_HERRSCHER" Name="LOC_LEADER_HOH_VOID_HERRSCHER_NAME" Description="LOC_TRAIT_LEADER_HOV_DUMMY_DESC" SortIndex="10"/>
        <Row Domain="Players:StandardPlayers" LeaderType="LEADER_HOH_VOID_HERRSCHER" CivilizationType="CIVILIZATION_HONKAI" Type="CIVILIZATION_HONKAI" Icon="ICON_CIVILIZATION_HONKAI" Name="LOC_CIVILIZATION_HONKAI_NAME" Description="LOC_TRAIT_CIVILIZATION_HONKAI_DUMMY_DESC" SortIndex="20"/>
        
        <!-- 你原来老模组的特色建筑/区域，如果想在主菜单右侧也显示出来，可以以后加在这里 -->
    </PlayerItems>
</GameInfo>
